include mixins/cabecalho.pug
include mixins/times.pug

doctype html
html
  +cabecalho(titulo)
  body
    .container.is-fluid
      include includes/ine5646.pug
      .columns
        .column.is-four-quarters
            .message.is-info
              .message-header
                p = Classificação Global com base no Aproveitamento Geral
              .message-body
                +times(tabela)
